# Archivo de configuración - variables de entorno recomendadas
# Crea un archivo llamado .env en la misma carpeta con:

TELEGRAM_TOKEN=8673761843:AAFYNMz_j679lnO9BYxmf9ch-L0jhnkSCQQ
GOOGLE_SHEETS_ID=1LjMu71JwwaX3Flgjqr0CTZWjji_9r3k_ahFduQTteoU
SHEET_GID=1498677826  # 0 = primera pestaña, cambia según necesites
